$main-color: #696969;
$secondary-color: #24292e;
$third-color: #d2d2d2;
$fency-color: linear-gradient(to right, rgb(255, 121, 186) 0%, #e7c05b 51%, rgb(255, 121, 186) 100%);
$fency-color-text: linear-gradient(to right, rgb(255, 121, 186), #e7c05b);
$fency-color-secondary: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
$facebook-color: #3b5998;
$error-color: #E06B6F;
